

.recipe-card {
	width: 250px;
	float: right;
	border: 1px solid #e5e5e5;
	display: table;
	margin-left: 30px;
}


.recipe-img {
	width: 200px;
	height: 150px;
	margin: 5px;
}

.card-heading {
	background-color: #de1b45;
	color: #fff;
	padding: 15px;
}

.card-heading h3 {
	font-size: 1rem;
	text-transform: uppercase;
	margin: auto;
	-webkit-box-flex: 1;
	flex-grow: 1;
	font-weight: 500;
	line-height: 1.1;
}

.card-sub-heading {
	background-color: #eee;
	color: #000;
	padding: 10px;
	display:  table-cell;
	float: left;
	width: 100%;
}

.card-sub-heading h3 {
	font-size: 1rem;
	text-transform: uppercase;
	margin: auto;
	-webkit-box-flex: 1;
	flex-grow: 1;
	font-weight: 500;
}

.rec-body-header {
	background-color: #eee;
	width: 400px;
	padding: 8px;
	padding-left: 12px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-weight: bold;
}

.quadrant {
	width: 120px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	padding: 5px 0px 10px 15px;
}

.quad-cat {
	font-weight: bold;
	color: #999999;
	font-size: .8rem;
}


.recipe-date {
	font-style: italic;
	line-height: 2em;
}

ol.directions-list {
	list-style-type: decimal;
	margin-left: 30px;
}

ul.ingredient-list {
	list-style-type: disc;
	margin-left: 30px;

}

@media screen and (max-width: 50em) {
	.recipe-body {
		margin-left: 15px;
		margin-right: 10px;
	}

	.recipe-card {
		margin-left: 10px;
		width: 215px;
	}

	.quadrant {
		width: 100px;
	}

}